$main-font: 'Roboto', sans-serif;
$secondary-font: 'Oswald', sans-serif;
$font-color: #fff;
$second-color: #333;
$hover-color: #1CAF5E;
$font-size: 14px;
$font-height: 1;
$font-weight: 400;
$main-color-bg: #eff7ed;

/** Grid variables **/
$container-width: 1000px;
$col-padding: 25px;